body {
    margin: 0;
    padding: 0;
    background-image: url('backgrounds/battle-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -999;
}

#players-pokemon, #opponents-pokemon {
    position: absolute;
}

.player-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    padding-bottom: 20vh;
}

.health {
    width: 400px;
    background: white;
    border-radius: 8px;
    padding: 10px;
}

.battling-pokemon {
    height: 300px;
    width: 300px;
}

#battle-options {
    background-color: white;
    height: 200px;
    width: 750px;
    left: 40vw;
    bottom: 55vh;
}

#players-pokemon {
    height: 500px;
    width: auto;
    z-index: -998;
    bottom: -10.25vh;
}

.opponent-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 5vh;
    padding-right: 5vh;
}

#opponents-pokemon {
    height: 400px;
    width: auto;
    z-index: -998;
}

.moveForward {
    transform: translate(50px, -100px);
}

.moveBackward {
    transform: translate(-50px, -100px);
}

.moveBack {
    transform: translate(0);
}

.playerHit {
    transform: rotate(-45deg);
    filter: grayscale(100%);
}

.opponentHit {
    transform: rotate(45deg);
    filter: grayscale(100%);
}

.unhit {
    transform: rotate(0deg);
    filter: none;
}