body {
    margin: 0;
    padding: 0;
    background-image: url('gbaoverlay.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.battle-background img {
    position: absolute;
    height: 545px;
    width: 815px;
    top: 119px;
    left: 241px;
    z-index: -999;
}

.player-box {
    padding-left: 10px;
    position: fixed;
    bottom: 0;
    left: 0
}

.player-box div {
    position: relative;
}

#players-pokemon, #opponents-pokemon {
    position: absolute;
}

#players-pokemon {
    height: 320px;
    width: 320px;
    bottom: 37px;
    left: 250px;
    z-index: -998;
}

.opponent-box {
    padding-right: 10px;
    position: fixed;
    top: 0;
    right: 0;
}

#opponents-pokemon {
    height: 320px;
    width: 320px;
    top: 220px;
    right: 270px;
    z-index: -998;
}