
@font-face { font-family: pixel; src: url('fonts/EarlyGameBoy.ttf'); } 

body { font-family: pixel, Arial, sans-serif; }

#scrollingtrees {
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.starter-box {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#starter-header {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.starters {
    display: flex;
    justify-content: center;
}
.starters img {
    width: 160px;
    height: 160px;
}